html, body{
	font-family: Helvitica, sans-serif;
	padding: 0;
	margin: 0;
}

header{
	background-color:#f3d8e5;
	background-image: url('IMG_5418.jpg');
	background-size: 200px;
	background-repeat: repeat;
	padding: 60px;
	text-align: center;
	text-transform: uppercase;
}

.about{
	padding: 100px;
	text-align: center;


	
}

.border{
	border-style: double;
	border-width: thick;
	text-align: justify;
	padding: 10px;

}

h1{
	font-size: 120px;
	color: white;
	text-shadow: 0 25px 20px purple;
}

header img{
	width: 100px;
	border: 5px solid #ffffff; 
	box-shadow: 0 10px 20px; 
}

.content{
	background-color: violet;
	padding: 20px;
	text-align: center;
	float:left;
	width:175%;
	overflow: scroll;



}

h2{
	text-align: center;
	text-transform: uppercase;
	text-decoration: bold; 
	font-size: 60px;
}

h3{
	text-align: center;
	color:white;
	text-decoration: bold;
	padding-top: 20px;
	font-size: 60px;
}

p{
	font-size: 30px;
}

img.big-image{
	max-width: 50%;
	padding-top: 20px;
	overflow: scroll;
	margin-right: 5px;
}

p.caption{
	font-size: 20px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

a{
	color:#ffffb3;
	text-decoration: none;
}


img.mine{
	max-width: 50%;
	align-content: center,
	padding: 20px;
	

}

video.mine{
	max-width: 50%;
	text-align: center;
	
}

	
.mycontent{
	padding: 20px;
	text-align: center;
	align-items: center;
	align-content: center;
	background-image: url(gallery.jpg);
	background-size:500px;
	background-repeat: repeat;
	float: left;
	width:100%;
	overflow: scroll;

}



p.mycontent{
	background-color: white;
	padding: 60px;
	color: white;
}

footer{
	content: "";
  display: table;
  clear: both;
	padding: 20px;
	background-color:#cccccc;
	border-style: solid;
	text-align:center;
}

footer ul{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}


/*<header>
		<img src="images/profile.png">
		<h1> Gallery in Progress </h1>
	</header>

