html, body{
	font-family: Helvitica, sans-serif;
	padding: 0;
	margin: 0;
}

header{
	background-color:#f3d8e5;
	background-image: url('IMG_3268.jpg');
	background-size: 80px;
	background-repeat: repeat;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px purple;
}

header img{
	width: 300px;
	border: 10px solid #ffffff; 
	box-shadow: 0 10px 20px; 
}

h2{
	text-align: center;
	text-transform: uppercase;
	text-decoration: bold; 
	padding-top: 20px;
	font-size: 60px;

}

p{
	font-size: 30px;
}

img.big-image{
	max-width: 100%;
	padding-top: 20px;
}

p.caption{
	font-size: 20px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 30px;
}

a{
	color:#ffffb3;
	text-decoration: none;
}

footer{
	padding: 20px;
	background-color:#b3b3b3;
}

footer ul{text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}



.content{
	background-color: violet;
	padding: 20px;
	text-align: center;
	

} 


/*<header>
		<img src="images/profile.png">
		<h1> Gallery in Progress </h1>
	</header>

